:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

$colorKasa : #FF6060;
$colorbg : #F6F6F6;
$borderRadius: 25px;
$transition:  all 0.5s;

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
@mixin df{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

@mixin styleBtnSlider{
  height: 70px;  
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 60px;
  color: #fff;
  width: 50px;
  cursor: pointer;
  transform: translateY(-50%);
}

@mixin opacityDescription {
    opacity: 0;
    transition: all 0.5s;
}

@mixin affichageDescription{
  position: relative;
  top: -20px;
  padding: 10px;
  height: calc( 100% - 65px );
  border-radius: 0 0 10px 10px;
  background-color: $colorbg;
  font-size: 17px;
}

@mixin h3Collapse{
  position: relative;
  top: -15px;
  color: #fff;
  left: 10px;
  font-size: 20px;
}

@mixin btnCollapse{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* Accueil */
.nav-bar{
  width: 90%;
  margin: auto;
  height: 90px;
  @include df;
  justify-content: space-between;

  img{
    height: 75%;
  }

  ul{
    @include df;
    li{
      position: relative;
      margin: 10px;
      font-size: 20px;
      list-style: none; 
    }  
    .lien-nav{
      text-decoration:none;
      color: #000000;
  
      &::after{
        content: '';
        position: absolute;
        bottom: -5px;
        left: -5%;
        width: 110%;
        height: 4px;
        background-color: #000000;
        transform: scale(0); 
        transition: $transition;  
      }

      &:hover::after{
      transform: scale(1); 
      } 
    } 
  }
}

.barre-accueil{
  position: relative;
  width: 88%;
  height: 180px;
  margin: 50px auto;
  border-radius: $borderRadius;
  overflow: hidden;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333af;
    z-index: 1;
  }

  img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $borderRadius;
  }

  h1{
  position: absolute;
  width: 100%;
  top: 0;
  line-height: 90px;
  text-align: center;
  font-size: 45px;  
  color: #fff;
  z-index: 2;
  }


}


/* lien vers les appartements  */

.container{
  background-color: $colorbg;
  width: 85%;
  height: 700px;
  overflow-y: auto;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 50%);
  gap: 30px;
  margin: auto;
  padding: 30px;
  border-radius: $borderRadius;

  
    .carts{
      position: relative;
      height: 100%;
      width: 100%;

      img{
        width: 100%;
        height: 90%;
        object-fit: cover;
        border-radius: $borderRadius;

      }
      p{
        position: absolute;
        left: 5px;
        bottom: 35px;
        font-size: 25px;
        color: #fff;
        font-weight: 500;
      }
    }

}


/* Footer */
footer{
  @include df;
  flex-direction: column;
  margin-top: 100px;
  height: 150px;
  width: 100%;
  background-color: #000000;
  color: #fff;
}


/* btn descrtiption */




.slider{
  position: relative;
  top: 20px;
  margin: auto;
  height: 450px;
  width: 90%;

  img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $borderRadius;
  }
  .btn-left{
    @include styleBtnSlider;
    position: absolute;
    top: 50%;
    left: 0;
    
  }
  .btn-right{
    @include styleBtnSlider;
    position: absolute;
    top: 50%;
    right: 0;
  }

  p{
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    color: #fff;
    z-index: 3;
  }

}


.presentation{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 90%;
  position: relative;
  margin: auto;
  height: 200px;


.titre{
  h2{
    color: $colorKasa;
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 10px;
    
  }
  p{
    margin: 10px 0;
    font-size: 17px;
  }

}

  .host{
    position: relative;
    grid-row: 1/3;
    grid-column: 2/3;
    
    .start{
      position: absolute;
      bottom: 15%;
      right: 0;
      width: 100px;
      height: 50px;
      background-color: darkcyan
    }

    .host-img{
      position:  absolute;
      top: 13%;
      right: 35px;

      @include df;
      height: 64px;
      width: 64px;
      
    img{
      border-radius: 50%;
      width: 100%;
    }  

    p{
      color: $colorKasa;
      font-size: 20px;
      margin-right: 10px;
    } 
    }
   
}

ul{
  margin: 0;
  padding: 0;
  @include df;
  justify-content: start;
  li{
    list-style: none;
    margin-right: 5px;
    background-color: $colorKasa;
    padding: 5px 20px;
    border-radius: $borderRadius;
    color: #fff;
    font-weight: 500;
  }
  
}

}


.collapse{
  background-color: #06d213a8;

  width: 90%;
  height: 200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 30px;
  margin-top: 50px;

  .content-description{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $colorKasa;
    border-radius: 10px;
  } 

  h3{
    @include h3Collapse;
  }

  .grandir{
    transition: $transition;
    height: 100%;
  }
  .retrecir{
    transition: $transition;
    height: 40px;
  }

  .btn-description{
    @include btnCollapse;
  }
  .top{
    transition: $transition;
    transform: rotate(-0deg);
  }

  .bottom{
    transition: $transition;
    transform: rotate(180deg);
  }

  p{
    @include affichageDescription;
    
  }

 ul{
    @include affichageDescription;
     list-style: none

}
 .content-description.retrecir p{
     @include opacityDescription;
     
  }
 .content-description.retrecir ul{
     @include opacityDescription;
  }





}

@media (max-width: 1020px) {

/* lien vers les appartements  */
.container{
height: 600px;
gap: 20px;
padding: 30px;

.carts{
  p{
  bottom: 35px;
  font-size: 20px;
  }}
}


.presentation{
.titre{
  h2{
    font-size: 35px;
  }
}



.host{
  .start{
    bottom: 5%;
  }

  .host-img{
    position:  absolute;
    top: 15%;
    
  img{
    border-radius: 50%;
    width: 100%;
  }
  

  p{
    color: $colorKasa;
    font-size: 20px;
    margin-right: 10px;
  } 
  }
  
}

ul{
  margin: 0;
  padding: 0;
  @include df;
  justify-content: start;
  li{
    list-style: none;
    margin-right: 5px;
    background-color: $colorKasa;
    padding: 5px 20px;
    border-radius: $borderRadius;
    color: #fff;
    font-weight: 500;
  }
  
}
  
}
















}

@media (max-width: 800px) {
/* Accueil */
.nav-bar{
  img{
    height: 55%;
  }
}

.barre-accueil{ 
  
h1{
line-height: 110px;
font-size: 35px;  
}  
}
    
/* lien vers les appartements  */
.container{
height: 500px;
gap: 15px;
padding: 30px;

.carts{
  p{
  bottom: 25px;
  font-size: 20px;
  }}
}


}

@media (max-width : 700px){
/* lien vers les appartements  */
.container{
height: 450px;
gap: 15px;
padding: 30px;

.carts{
  p{
  bottom: 15px;
  font-size: 18px;
  }}
}

.presentation{
.titre{
h2{
  font-size: 30px;    
}
p{
  margin: 5px 0;
}
}

ul{ 
  li{
    padding: 5px 10px;
  }
}

}
}

@media (max-width: 600px) {
.barre-accueil{ 
  height: 130px;

  h1{
line-height: 75px;
font-size: 35px;}
}
/* lien vers les appartements  */
.container{
height: 450px;
gap: 15px;
padding: 30px;

.carts{
  p{
  bottom: 15px;
  font-size: 18px;
  }}
}

.slider{
  height: 320px;

  .btn-left,.btn-right {
    font-size: 45px;
  }
}


.presentation{
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(3, 1fr);

  .titre{
    grid-column: 1/2;
    p{
      margin: 0;
      font-size: 17px;
    }
  }
  .host{
    grid-row: 3/4;
    grid-column: 1/2;
    @include df;
    justify-content: space-between ;
    background: forestgreen; 
    .start{
      position: relative;
      bottom: 0;
    }
    .host-img{
      position:  relative;
      top: 0%; 
    }
  }   
  ul{
    margin: 10px 0px;}
}




}

@media (max-width: 555px) {
.barre-accueil{ 
  height: 130px;

h1{
line-height: 45px;
font-size: 35px;  
padding: 0px;
text-align: left;
}
}
/* lien vers les appartements  */
.container{
background-color: $colorbg;
width: 85%;
height: 1000px;
grid-template-columns: repeat(1, 1fr);
grid-template-rows: repeat(20, 25%);
gap: 10px;

.carts{
  position: relative;
  height: 100%;
  width: 100%;

  img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: $borderRadius;

  }
  p{
    position: absolute;
    left: 5px;
    bottom: 35px;
    font-size: 25px;
    color: #fff;
    font-weight: 500;
  }
}

}

.slider{
  height: 290px;

}

}

@media (max-width: 430px) {
/* Accueil */
.nav-bar{
  img{
    height: 48%;
  }

ul {
  li{
    font-size: 15px;
  } }
}

.barre-accueil{ 
  h1{
  line-height: 45px;
  font-size: 30px;  
  padding: 5px;
  text-align: left;
  }
}


}

@media (max-width: 370px) {
/* Accueil */
.nav-bar{
  img{
    height: 44%;
  }

ul {
  li{
  margin: 5px;
    font-size: 13px;

  } }
}

.barre-accueil{     
  h1{
  font-size: 25px;  
  }
}
}














.img-apropos{
  width: 90%;
  height: 200px;
  margin: 30px auto;
  border-radius: $borderRadius;

  
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $borderRadius;
  }
}

.collapse-content{
  width: 90%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 30px;

  .content-description{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $colorKasa;
    border-radius: 10px;
  } 

  h3{
    @include h3Collapse;
  }

  .grandir{
    transition: $transition;
    height: 100%;
  }
  .retrecir{
    transition: $transition;
    height: 40px;
  }

  .btn-description{
    @include btnCollapse;
  }
  .top{
    transition: $transition;
    transform: rotate(-0deg);
  }

  .bottom{
    transition: $transition;
    transform: rotate(180deg);
  }

  p{
    @include affichageDescription;
    
  }

 ul{
    @include affichageDescription;


  list-style: none

}
 .content-description.retrecir p{
     @include opacityDescription;
     
  }
 .content-description.retrecir ul{
     @include opacityDescription;
  }


}

